### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
#Dependencies
import pandas as pd
import numpy as np
import os

#Data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [6]:
#Total players
Total_Players = len(purchase_data["SN"].value_counts())

#Payer count
Player_Count = pd.DataFrame({"Total Players":[Total_Players]})
Player_Count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Calculations 
Unique_Items = len((purchase_data["Item ID"]).unique())
Avg_Price = (purchase_data["Price"]).mean()
Purchases = (purchase_data["Purchase ID"]).count()
Total_Revenue = (purchase_data["Price"]).sum()

#Data frame
Purchasing_df = pd.DataFrame({"Unique Items":[Unique_Items],"Avg Price":[Avg_Price], "Purchases": [Purchases], "Total Revenue": [Total_Revenue]})
#Format
Purchasing_df.style.format({'Average Price':"${:,.2f}",'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
#Percent/Count of Male & Female Players
Gender_Grouping = purchase_data.groupby("Gender")
Total_Gender_Count = Gender_Grouping.nunique()["SN"]
Percentage_of_Players = Total_Gender_Count / Total_Players * 100

#Data frame
Gender_Demographics = pd.DataFrame({"Percentage of Players": Percentage_of_Players, "Total Count": Total_Gender_Count})

#Format
Gender_Demographics.index.name = None
Gender_Demographics.sort_values(["Total Count"]).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#Purchase By Gender
Purchase_Count = Gender_Grouping["Purchase ID"].count()
Average_Purchase_Price = Gender_Grouping["Price"].mean() 
Average_Total_Purchase = Gender_Grouping["Price"].sum()
Average_Purchase_per_person = Average_Total_Purchase/Total_Gender_Count

#Data Frame 
Gender_Demographics = pd.DataFrame({"Purchase Count": Purchase_Count,"Average Purchase Price": Average_Purchase_Price,"Average Purchase Value":Average_Total_Purchase,"Avg Purchase Total per Person": Average_Purchase_Price})

#Format
Gender_Demographics.index.name = "Gender"
Gender_Demographics.style.format({"Average Purchase Value":"${:,.2f}","Average Purchase Price":"${:,.2f}","Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
#Age Bins
Age_Bins = [0, 9.99, 19.99, 29.99, 39.99, 150]
Bin_Names = ["<10", "10-19", "19-29", "29-39", "40 Plus"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],Age_Bins, labels=Bin_Names)
purchase_data

#Data Frame
Age_Group = purchase_data.groupby("Age Group")

#Count/percentage of total players by age
Total_Age_Count = Age_Group["SN"].nunique()
Percentage_By_Age = (Total_Age_Count/Total_Players) * 100

#Data Frame2
Age_Demo = pd.DataFrame({"Percentage of Players": Percentage_By_Age, "Total Count": Total_Age_Count})

#Format
Age_Demo.index.name = None
Age_Demo.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# Count purchases by age group
Purch_Age_Count = Age_Group["Purchase ID"].count()
Average_Purch_Price_Age = Age_Group["Price"].mean()
Total_Purch_Value = Age_Group["Price"].sum()
Average_Purch_Per_Person = Total_Purch_Value/Total_Age_Count

#DataFrame
Age_Demo = pd.DataFrame({"Purchase Count": Purch_Age_Count,"Average Purchase Price": Average_Purch_Price_Age,"Total Purchase Value":Total_Purch_Value,"Average Purchase Total per Person": Average_Purch_Per_Person})

#Format
Age_Demo.index.name = None
Age_Demo.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}","Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
#Top Spenders Results
Spender_Results = purchase_data.groupby("SN")
Purch_Spender_Count = Spender_Results["Purchase ID"].count()
Average_Purch_Price_Spender = Spender_Results["Price"].mean()
Purch_Spender_Total = Spender_Results["Price"].sum()

#Data Frame
Big_Spenders = pd.DataFrame({"Purchase Count": Purch_Spender_Count,"Average Purchase Price": Average_Purch_Price_Spender,"Total Purchase Value":Purch_Spender_Total})

#Format
Sort_Spenders = Big_Spenders.sort_values(["Total Purchase Value"]).head()
Sort_Spenders.style.format({"Average Purchase Total":"${:,.2f}","Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
#Popular Items Results
Items_Info = purchase_data[["Item ID", "Item Name", "Price"]]
Item_Results = Items_Info.groupby(["Item ID","Item Name"])
Purch_Item_Count = Item_Results["Price"].count()
Purch_Value = (Item_Results["Price"].sum()) 
Item_Price = Purch_Value/Purch_Item_Count

#Data Frame
Popular_Items = pd.DataFrame({"Purchase Count": Purch_Item_Count,"Item Price": Item_Price,"Total Purchase Value":Purch_Value})

#Format
Popular_Items_Sorted = Popular_Items.sort_values(["Purchase Count"]).head()
Popular_Items_Sorted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [24]:
#Profitable Items Results
Popular_Items_Sorted = Popular_Items.sort_values(["Total Purchase Value"],).head()

#Format
Popular_Items_Sorted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})